services:
  redis:
    image: redis:alpine
    container_name: redis_broker
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5

  api:
    build: .
    working_dir: /app            
    command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload
    ports:
      - "8000:8000"
    volumes:
      - ./:/app
    env_file:
      - .env  
    environment:
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/0
    extra_hosts:
      - "host.docker.internal:host-gateway"
    depends_on:
      redis:
        condition: service_healthy

  worker:
    build: .
    working_dir: /app
    command: celery -A tasks worker --loglevel=info
    volumes:
      - ./:/app
    env_file:
      - .env 
    environment:
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/0
    depends_on:
      redis:
        condition: service_healthy

  scheduler:
    build: .
    working_dir: /app
    command: python scheduler_script.py
    volumes:
      - ./:/app
    env_file:
      - .env 
    depends_on:
      - redis

volumes:
  pgdata:
