services:

  redis:
    image: redis:alpine
    ports:
      - "6379:6379"

  api:
    build: .
    working_dir: /app           
    command: uvicorn main:app --host 0.0.0.0 --port 8000  
    ports:
      - "8000:8000"
    volumes:
      - ./:/app
    environment:
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/0
 

  worker:
    build: .
    command: celery -A tasks worker --loglevel=info
    environment:
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/0
    depends_on:
      - redis
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  

  scheduler:
    build: .
    command: python scheduler_script.py
